<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.veterinaria" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.app.tiendaMascotas.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.Mascota"
            android:label="@string/title_activity_registrar_mascota" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.Propietario"
            android:label="@string/title_activity_registrar_propietario" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.MenuVeterinaria"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.MenuMascota"
            android:label="@string/title_activity_menu_mascota" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.MenuPropietario"
            android:label="@string/title_activity_menu_propietario" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.ListMascota"
            android:label="@string/title_activity_list_mascota" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.ListPropietario"
            android:label="@string/title_activity_list_propietario" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.Personal"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.ListPersonal"
            android:label="@string/title_activity_list_personal" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.Historial"
            android:label="@string/title_activity_historial" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.ListHistorial"
            android:label="@string/title_activity_list_historial" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.MenuPersonal"
            android:label="@string/title_activity_menu_personal" >
        </activity>
        <activity
            android:name="com.app.tiendaMascotas.MenuHistorial"
            android:label="@string/title_activity_menu_historial" >
        </activity>
    </application>

</manifest>
